<?xml version="1.0"?>
<model>
	<name>Mobile Solar Robot</name>
	<version>1.0</version>
	<sdf version='1.4'>model.sdf</sdf>
	
	<author>
	 <name>tarunesh38</name>
	 <email>=tarunesh38@todo.todo</email>
	</author>
	
	<description>
	  A Basic Differential drive mobile solar robot.
	</description>
</model>	  
